.like-button {
    max-width: 20px;
    max-height: 20px;
    transition: transform 0.2s ease;
    object-fit: contain;
}

.like-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}